# ignore everything (dirs, files, sub-dirs, sub-files)
/*


# DO NOT IGNORE THESE FILES
!.gitignore
!wincmd.ini
!usercmd.ini
!colors.less
!userChrome.less


# DO NOT IGNORE THESE FOLDERS
!/_Extensions
!/_Menu
!/_TC-commands


# DO NOT IGNORE THESE SUBFOLDERS
!/_Utilities/
/_Utilities/*
!/_Utilities/Notepad++/